<header>
    <nav class="header-nav">
        <ul>
            <a href="/"><li id="home" class="navMenuItem">Home</li></a>
            <a href="/menu"><li id="menu" class="navMenuItem">Menu</li></a>
        </ul>
    </nav>
</header>